/* Site Inner
--------------------------------------------- */

.site-inner {
	clear: both;
	margin: 0 auto;
	padding: 60px 30px 0;

	.sales-page & {
		padding-top: 0;
	}
}

@media only screen and (min-width: 960px) {

	.site-inner {
		max-width: 1140px;
	}
}