@use './colors' as c;

@mixin before($content: '', $pos: absolute) {
    position: relative;
    
    &::before {
        content: $content;
        position: $pos;
        @content;
    }
}

@mixin hover-lift() {
    transition: transform 350ms ease-in-out;
    box-shadow: 0 .25em .5em 0 rgba(black, .2);

    @include after() {
        box-shadow: 0 0 1.25em 0 rgba(black, .4);
        transition: transform 350ms ease-in-out;
        opacity: 0;
    }

    &:hover,
    &:focus {
        transform: scale(1.05);

        &::after {
            opacity: 1;
        }
    }
}

@mixin accessibility-focus {
    background: #fff;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #333;
	display: block;
	font-size: 1em;
	font-weight: 700;
	height: auto;
	padding: 15px 23px 14px;
	text-decoration: none;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}

@mixin menu-toggle($class-name) {
    background-color: transparent;
	border-width: 0;
	color: #333;
	display: block;
	margin: 0 auto;
	overflow: hidden;
	text-align: center;
	visibility: visible;

    #{$class-name}:focus,
    #{$class-name}:hover {
        background-color: transparent;
        border-width: 0;
        color: c.$teal;
    }
}